<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="trunkrsShipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Trunkrs Shipping</label>
                <field id="trunkrs_mage" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <frontend_model>Trunkrs\Carrier\Block\Adminhtml\System\Config\TrunkrsShipping</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
